.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogsItems {
	padding: 10px;
}

.dialog a {
	color: white;
}

.dialogs .active {
	color: gold;
}

.messages {
	padding: 10px;
}

.message {
	color: white;
}
